<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @playlist.name %>
</p>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>

<%= render partial: 'songs/form' %>

<h3>Listing Songs:</h3>
<%= render partial: 'playlists/song', collection: @playlist.songs %>
